[Unit]
Description=Socket Server for Status Page

[Service]
WorkingDirectory=/opt/server-landing/socket-server
ExecStart=/usr/bin/php server.php
Type=simple
Restart=always
RestartSec=10

[Install]
WantedBy=basic.target
